* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  background-color: #0093e9;
  background-image: linear-gradient(135deg, #0093e9 45%, #80d0c7 70%);

  width: 100vw;
  height: 100vh;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

label {
  user-select: none;
}
